*,
*:before,
*:after {
  box-sizing: border-box;
}

@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 300;
  src: local('.SFNSText-Light'), local('.HelveticaNeueDeskInterface-Light'),
    local('.LucidaGrandeUI'), local('Ubuntu Light'), local('Segoe UI Light'),
    local('Roboto-Light'), local('DroidSans'), local('Tahoma');
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'),
    url(fonts/MaterialIcons-Regular.woff2) format('woff2'),
    url(fonts/MaterialIcons-Regular.woff) format('woff'),
    url(fonts/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 16px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
}

body {
  margin: 0;
  font-family: 'system';
  font-size: 16px;
  overflow-y: scroll;
}

.content-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h2 {
  margin: 0;
}

header {
  border-bottom: 1px solid #dedede;
  padding: 0.5em 1em;
}

.process-list {
  padding: 1em;
  margin: 0;
  list-style-type: none;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.process-card {
  padding: 1em;
  border: 1px solid #dedede;
  margin-bottom: 0.5em;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.process-card .material-icons {
  cursor: pointer;
}

.action-container {
  display: flex;
  align-items: center;
}

.details-container {
  padding: 0.5em 0;
  width: 100%;
  display: none;
}

.details-container.open {
  display: flex;
  justify-content: space-between;
}

.details-container div {
  width: 50%;
}

.detail-label {
  font-size: 0.75em;
}

.add-container {
  padding: 1em;
  flex: 1;
}

label,
input {
  display: block;
  width: 100%;
}

label {
  margin-bottom: 0.25em;
}

input {
  margin-bottom: 0.75em;
  padding: 0.25em;
}

button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.5em;
  background-color: #fff;
  border: 1px solid #000;
  cursor: pointer;
}

button i {
  margin-left: 5px;
}

.error {
  color: #a94442;
  padding: 0 0.5em;
  position: relative;
  top: 3px;
}

footer {
  border-top: 1px solid #dedede;
  padding: 0 1em;
  display: flex;
}

footer a {
  width: 50%;
  padding: 0.5em 1em;
  text-align: center;
  text-decoration: none;
  font-size: 0.5em;
  color: #000;
}

footer a:first-child {
  border-right: 1px solid #dedede;
}

footer .material-icons {
  display: block;
  font-size: 2em;
}
